:root {
  --light-arrows: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAMAAABBJv+bAAAAt1BMVEWUlP+bm/+wsP+0tP+7u/+/v//Bwf//jGH/lW3/rY7/s5f/uqH/v6f///+Skv+UlP+amv+bm/+env+hof+np/+pqf+urv+wsP+0tP+2tra3t7e4uLi7u/+8vLy9vb2+vr6/v//AwMDBwcHBwf/CwsLHx8fIyMjKysrNzc3Ozs7T09PU1NTY2Njb29vc3Nz/il7/i2D/jGH/k2v/lW3/mXP/m3b/o4H/pob/rI3/rY7/s5f/uqH/v6ezogKWAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAFFSURBVHjaXdOJcoIwEAbgjdhaUQvesChYq/XEAt7o+z9XN5vFzuTPMLvDNxOOJNAwyaV2TFAqiBbiotNI2OgxO+b/HCUYo2HWU5ZlJ3bWOSJ+IbMou2EkDckjzTwzh+cnTcIwRBoJOYj+ineiGFErhZ4P+VEnz6ViElMQozihgdD4oFyLorjqxrz5Kp5OV9wxN+/n8/nefPFmsZhvXuy65eVyKV234u1y+bOruNVqPW6324Oq8H693uyF25RnWZZP3RhOd7ttarjNrMMd3zykaXow/K7zrcOdzcAcBMHsjQL25KDq9fpkNBpNqCqwXo1YOU4wGAwCx1HC8mHCqjbu9/vjmhKW3yJMGfq+P1TM1k/1ujqeJ9VeEnKP8kkXdWAvqLgo2NtBe4+1Rwr2ZhIXBXsrGu/S4M7eyOK+UbCPQeVSrUP0B0gCQSDh8Lc2AAAAAElFTkSuQmCC);
  --dark-arrows: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAMAAABBJv+bAAAAulBMVEUjJCSUlP+bm/+wsP+0tP+7u/+/v//Bwf//jGH/lW3/rY7/s5f/uqH/v6ciIiIjIyMkJCQlJSUyMjI0NDQ2NjY3Nzc5OTk7Ozs8PDw9PT0+Pj4/Pz9AQEBBQUFCQkJDQ0NGRkZISEiSkv+UlP+amv+bm/+env+hof+np/+pqf+urv+wsP+0tP+7u/+/v//Bwf//il7/i2D/jGH/k2v/lW3/mXP/m3b/o4H/pob/rI3/rY7/s5f/uqH/v6frU0yEAAAADnRSTlMAAAAAAAAAAAAAAAAAAKroblcAAAFDSURBVHjaddOJToNAEIDh2S3VWtqlitBKD4tgT6oCvWnf/7WcmR2NUfwTMpN8YdOELbRshUywRSCJltaFn4cjYavbfEsuPPZNKO+z7vI835EzjwJjTH/ALCpOHIUG855CYj6Zw/OJ+wPD9YYBsuiHOISRZ2z3Yx+g2FJFIfMxxqZoMfUArTvsWJblkRb7y4mnvDG3z/v9/tz+h123OhwOlevWcqfTuZxOpwvOGu5i16qqrrT84S4zxRtQMSZ8S71TvAljlhVzlmVvN5iybIz5Yt1sNjer1WqDU9ewdpxssVhkjqNrWTfW8/l83dC1jC3TNF3qOk5eqSSR6ccYM+WDSsiSF3xwUxAMe+bHB1fWRRV8f3AvCgEZfcY6Q0WGQZ9ULpsSJ2WWyxZGIEzn08nMclWDEQizp6zCMIkmICwu89ef6BOMZzanB7uviwAAAABJRU5ErkJggg==);
  --arrows: var(--light-arrows);
}

#rcfy-container {
  line-height: normal;
  margin: var(--container-margin);
}

#rcfy-container a {
  text-decoration: none;
  color: var(--link-text);
}

#rcfy-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--primary-text);
}

#rcfy-header > * {
  width: 100%;
}

#rcfy-header h2 {
  font-size: var(--header-size);
  font-weight: var(--header-weight);
}

#rcfy-thread-status {
  text-align: center;
}

#rcfy-thread-sorter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#rcfy-thread-sorter.rcfy-thread-sorter-hidden {
  visibility: hidden;
}

#rcfy-thread-expander::before,
.rcfy-comment-expander::before {
  content: "[－]";
  text-decoration: none;
  letter-spacing: -1px;
  color: var(--link-text);
}

.rcfy-collapsed #rcfy-thread-expander::before,
.rcfy-collapsed .rcfy-comment-expander::before {
  content: "[＋]";
}

#rcfy-thread-expander:hover::before,
.rcfy-comment-expander:hover::before {
  cursor: pointer;
}

#rcfy-container.rcfy-collapsed > *:not(#rcfy-header),
.rcfy-comment.rcfy-collapsed > .rcfy-comment-content > *:not(.rcfy-tagline),
.rcfy-comment.rcfy-collapsed > .rcfy-comment-children {
  display: none !important;
}

.rcfy-comment.rcfy-collapsed > .rcfy-comment-content > .rcfy-tagline *:not(.rcfy-comment-expander) {
  font-style: italic;
}

#rcfy-container .rcfy-comment.rcfy-collapsed > .rcfy-comment-content > .rcfy-tagline *:not(.rcfy-comment-submitter):not(.rcfy-comment-moderator):not(.rcfy-comment-admin),
.rcfy-collapsed .rcfy-comment-expander::before {
  color: var(--secondary-text);
}

.rcfy-comment.rcfy-collapsed,
.rcfy-comment.rcfy-children-hidden {
  padding-bottom: 10px;
}

.rcfy-comment.rcfy-collapsed > .rcfy-comment-arrows {
  visibility: hidden;
  height: 1px;
}

#rcfy-container select {
  color: var(--primary-text);
  background-color: var(--interactable-background);
  border: var(--interactable-border);
  border-radius: var(--border-radius-small);
  font-size: revert;
  padding: 3px 0px;
}

#rcfy-container select option {
  background-color: var(--option-background);
}

#rcfy-thread-selector {
  color: var(--primary-text);
  width: 100%;
  font-family: monospace;
  height: 40px;
  font-size: 12px;
  border-radius: var(--border-radius-large);
}

#rcfy-notice {
  font-size: var(--notice-size);
  font-weight: var(--notice-weight);
  text-align: center;
  color: var(--primary-text);
  margin-top: 10px;
}

#rcfy-notice.rcfy-notice-hidden {
  display: none;
}

#rcfy-thread-header {
  width: 100%;
  margin: 10px 5px;
}

#rcfy-thread-title {
  overflow: hidden;
  font-size: 17px;
  margin-bottom: 3px;
}

#rcfy-thread-tagline {
  font-size: 12.5px;
}

#rcfy-thread-subreddit {
  margin-right: 5px;
}

#rcfy-thread-tagline a {
  font-weight: bold;
}

.rcfy-tagline {
  color: var(--secondary-text);
  font-size: 11px;
}

.rcfy-awards {
  margin-left: 4px;
}

.rcfy-award {
  margin-right: 4px;
}

#rcfy-thread-tagline .rcfy-award > img {
  max-width: 14px;
  max-height: 14px;
}

.rcfy-award > img {
  max-width: 12px;
  max-height: 12px;
  vertical-align: -2px;
  margin-right: 2px;
}

.rcfy-comment-author {
  font-weight: bold;
  margin-right: 5px;
}

.rcfy-confirm-delete {
  color: red;
  font-weight: normal !important;
}

.rcfy-deleted-notice {
  color: var(--primary-text) !important;
  font-weight: normal !important;
}

.rcfy-author-deleted {
  color: var(--primary-text) !important;
}

.rcfy-comment-submitter,
.rcfy-comment-moderator,
.rcfy-comment-admin {
  font-weight: bold;
  color: white !important;
  padding: 2px;
  border-radius: 2px;
}

.rcfy-comment-submitter {
  background-color: #0055DF;
}

.rcfy-comment-moderator {
  background-color: #228822 !important;
}

.rcfy-comment-admin {
  background-color: #FF0011 !important;
}

.rcfy-stickied {
  color: #228822;
}

.rcfy-title-timestamp-spacer {
  color: var(--primary-text);
}

.rcfy-title-timestamp, .rcfy-comment-timestamp {
  cursor: pointer;
  color: var(--link-text);
}

.rcfy-tagline a:hover,
.rcfy-permalink-button:hover,
.rcfy-edit-button:hover,
.rcfy-delete-button:hover,
.rcfy-confirm-delete-yes-button:hover,
.rcfy-confirm-delete-no-button:hover,
.rcfy-reply-button:hover,
.rcfy-toggle-children-button:hover,
.rcfy-load-more-button:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

#rcfy-thread-arrows {
  width: 6.1ex;
  font-weight: bold;
  font-size: small;
  float: left;
  margin-right: 7px;
  margin-left: 0px;
}

.rcfy-arrow {
  margin: 2px auto 0px auto;
  height: 14px;
  cursor: pointer;
  width: 15px;
  background-image: var(--arrows);
}

.rcfy-upvote {
  background-position: -15px 0;
}

.rcfy-upvoted > div > .rcfy-upvote {
  background-position: 0px 0;
}

.rcfy-downvote {
  background-position: -15px -14px;
}

.rcfy-downvoted > div > .rcfy-downvote {
  background-position: 0px -14px;
}

.rcfy-score {
  display: none;
  color: var(--secondary-text);
  text-align: center;
}

.rcfy-controversial > .rcfy-score::after {
  content: "†";
  position: relative;
  top: -2px;
  color: #CC0000;
}

span.rcfy-score {
  color: var(--primary-text);
}

#rcfy-sort-comments {
  margin: 20px 0 10px 10px;
  font-size: 12px;
  color: var(--secondary-text);
}

.rcfy-comment, .rcfy-load-more-button {
  margin-left: 10px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.rcfy-comment-arrows {
  width: 15px;
  float: left;
  margin-right: 7px;
}

.rcfy-comment-content, .rcfy-load-more-button {
  margin-left: 3px;
  overflow: hidden;
}

.rcfy-comment-text {
  font-size: 14px;
  color: var(--primary-text);
}

.rcfy-comment-text * {
  margin: 5px 0px;
}

.rcfy-comment-text blockquote {
  color: var(--secondary-text);
  padding: 0 8px;
  margin-left: 5px;
  border-left: 2px solid var(--separator);
}

.rcfy-comment-text pre {
  background-color: var(--interactable-background);
  border: var(--interactable-border);
  border-radius: 2px;
  padding: 4px 9px;
}

.rcfy-comment-text ol,
.rcfy-comment-text ul {
  list-style: unset;
  padding-left: 40px;
}

.rcfy-comment-text-ul {
  list-style-type: decimal;
}

.rcfy-comment-text table {
  border-collapse: collapse;
}

.rcfy-comment-text th,
.rcfy-comment-text td {
  padding: 5px;
  border: 1px solid var(--secondary-text);
}

.rcfy-comment-text code {
  margin: 0 2px;
  word-break: normal;
  line-height: 20px;
}

.rcfy-comment-text .rcfy-spoiler:not(.rcfy-spoiler-revealed) {
  background: var(--subtle-link-text);
  cursor: pointer;
  color: transparent;
}

.rcfy-comment-children {
  margin: 10px 0px 10px 15px;
  border-left: 1px dotted var(--separator);
}

.rcfy-comment-buttons > *, .rcfy-load-more-button {
  display: inline-block;
  padding: 0px 4px;
  font-size: 10px;
  line-height: 16px;
}

.rcfy-comment-buttons > *,
.rcfy-permalink-button,
.rcfy-confirm-delete-yes-button,
.rcfy-confirm-delete-no-button {
  color: var(--secondary-text) !important;
}

.rcfy-comment-buttons > *:first-child {
  padding-left: 0px;
}

.rcfy-comment-buttons > li *,
.rcfy-confirm-delete-yes-button,
.rcfy-confirm-delete-no-button,
.rcfy-load-more-button {
  font-weight: bold;
}

.rcfy-load-more-button {
  color: var(--subtle-link-text);
}

.rcfy-loading-more {
  color: red !important;
}

.rcfy-load-more-count {
  font-weight: normal;
  color: var(--secondary-text);
}

.rcfy-logged-out .rcfy-arrow,
div[rcfy-is-archived="true"] .rcfy-arrow {
  visibility: hidden;
}

#rcfy-top-level-comment-box {
  margin: 0 0 10px 10px;
}

.rcfy-comment-box-container button {
  margin: 5px 5px 10px 0;
  color: var(--primary-text);
  background-color: var(--interactable-background);
  border: var(--interactable-border);
  border-radius: var(--border-radius-small);
  padding: 3px;
  font-size: revert;
}

.rcfy-textarea {
  width: 500px;
  height: 100px;
  line-height: 20px;
  font-size: 14px;
  display: block;
  margin: 5px 0px;
  color: var(--primary-text);
  background-color: var(--interactable-background);
  border: var(--interactable-border);
  border-radius: var(--border-radius-large);
}

.rcfy-comment-content > .rcfy-comment-box-container,
.rcfy-comment-content.rcfy-editing > .rcfy-comment-text,
.rcfy-comment-content.rcfy-editing > .rcfy-comment-buttons li:nth-child(2),
.rcfy-confirm-delete,
.rcfy-deleted-notice,
.rcfy-confirming-delete .rcfy-delete-button,
.rcfy-deleted .rcfy-delete-button,
.rcfy-children-hidden .rcfy-comment-children {
  display: none;
}

.rcfy-unvoted > #rcfy-thread-arrows > .rcfy-score-unvoted,
.rcfy-upvoted > #rcfy-thread-arrows >  .rcfy-score-upvoted,
.rcfy-downvoted > #rcfy-thread-arrows >  .rcfy-score-downvoted,
.rcfy-comment-content.rcfy-editing > .rcfy-comment-box-container {
  display: block;
}

.rcfy-unvoted > .rcfy-comment-content > .rcfy-tagline > span.rcfy-score-unvoted,
.rcfy-upvoted > .rcfy-comment-content > .rcfy-tagline >  span.rcfy-score-upvoted,
.rcfy-downvoted > .rcfy-comment-content > .rcfy-tagline >  span.rcfy-score-downvoted,
.rcfy-confirming-delete .rcfy-confirm-delete,
.rcfy-deleted .rcfy-deleted-notice {
  display: inline;
}