@import '../rcfy.content/style.css';
@tailwind base;
@tailwind components;

@layer components {
	:root {
		@apply bg-[#242424] text-white text-opacity-90;
		color-scheme: dark;
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		--primary-text: white;
		--secondary-text: #aaa;
		--link-text: #3ea6ff;
		--subtle-link-text: var(--secondary-text);
		--interactable-background: rgba(255, 255, 255, 0.1);
		--select-background: #242424;
		--option-background: rgba(255, 255, 255, 0.1);
		--hover-background: rgba(255, 255, 255, 0.2);
		--interactable-border: #ffffff00;
		--interactable-border-width: 0px;
		--separator-border: rgba(255, 255, 255, 0.2);
		--container-margin: 20px 0;
		--header-size: 14px;
		--header-weight: 400;
		--notice-size: 12px;
		--notice-weight: 500;
		--border-radius-small: 6px;
		--border-radius-large: 12px;
	}

	.styled-button {
		@apply rounded-lg border-[1px] border-transparent py-2 px-4 font-medium bg-[#1A1A1A] cursor-pointer transition-colors duration-[25ms] hover:border-[#646CFF];
	}

	*::-webkit-scrollbar {
		@apply w-[8px] bg-option;
	}

	*::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	*::-webkit-scrollbar-thumb {
		@apply bg-[var(--secondary-text)] rounded-[16px] border-transparent;
	}
}

body {
	@apply m-0 flex justify-center min-h-screen;
}

input[type='text'],
input[type='password'] {
	@apply py-2 rounded-lg border-transparent text-[1em] flex-grow;
}

.error-message {
	@apply text-[#CC0000];
}

.popup {
	--arrows: var(--dark-arrows);
}
