.nebula {
  --primary-text: var(--font-color);
  --secondary-text: #535556;
  --link-text: #6fbce6;
  --subtle-link-text: var(--link-text);
  --interactable-background: white;
  --select-background: var(--interactable-background);
  --option-background: var(--interactable-background);
  --hover-background: #f7f7f7;
  --interactable-border: #d4d4d5;
  --interactable-border-width: 1px;
  --separator-border: #9999991a;
  --container-margin: 30px 0;
  --header-size: 17px;
  --header-weight: 500;
  --notice-size: 14px;
  --notice-weight: 500;
  --border-radius-small: 4px;
  --border-radius-large: 8px;

  @media (prefers-color-scheme: dark) {
    --secondary-text: #a1a4a6;
    --hover-background: #181d1f;
    --interactable-background: #191f21;
    --interactable-border: #2e3335;
    --separator-border: #5555551a;
    --subtle-link-text: var(--secondary-text);
  }
}
