.youtube {
  --primary-text: var(--yt-spec-text-primary);
  --secondary-text: var(--yt-spec-text-secondary);
  --link-text: var(--yt-spec-call-to-action);
  --subtle-link-text: var(--link-text);
  --interactable-background: var(--yt-spec-badge-chip-background);
  --select-background: var(--yt-spec-base-background);
  --option-background: var(--yt-spec-badge-chip-background);
  --hover-background: var(--yt-spec-button-chip-background-hover);
  --interactable-border: #fff0;
  --interactable-border-width: 0px;
  --separator-border: var(--yt-spec-10-percent-layer);
  --container-margin: 20px 0;
  --header-size: 1.6rem;
  --header-weight: 400;
  --notice-size: 1.4rem;
  --notice-weight: 500;
  --border-radius-small: 6px;
  --border-radius-large: 12px;

  @media (prefers-color-scheme: dark) {
    --subtle-link-text: var(--secondary-text);
  }
}
